@import "tailwindcss";

body { background-color: #F8FAFC; }


/* Fade-in Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Utility class to use with Tailwind */
.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}
